<div id="index_view">
  <%= render :partial => 'articles/index_view' %>
</div>

<div id="post_show">
  
</div>
<div id="new_view">

</div>
<div id="edit_view">

</div>

<%= link_to "New Post", new_article_path,:remote => true %>
<%= link_to "Home",home_path %>
<%#= link_to "All User Post",articles_path %>
<%= link_to 'Logout',destroy_user_session_path,:method => :delete %>

